.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #9c27b0;
    color: white;
    font-weight: 500;

    .spacer {
        width: 60%;
    }
  }

  .toolbar img {
    margin: 0 16px;
  }